@model Project.MVC.Models.VehicleModelViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Create new vehicle model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select id="selector" 
                        onfocus="this.size=9" onblur="this.size=1" onchange="this.size = 1; this.blur()"
                        asp-for="VehicleMakeId"
                        asp-items="@(new SelectList(Model.vehicleMakeModels, "Id", "Name"))">
                    <option value="" selected disabled>-- Select vehicle make --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
                <span class="text-danger">@Model.ErrorMessage</span>
            </div>
            <div class="form-group">
                <label asp-for="Abbreviation" class="control-label"></label>
                <input asp-for="Abbreviation" class="form-control" required />
                <span asp-validation-for="Abbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a> |
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
